/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
#root,
#__next {
	isolation: isolate;
}
/*reset ends*/

:root {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

button {
	height: 100px;
}

header {
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: lightblue;
	margin-bottom: 50px;
}

img {
	height: 100%;
	width: auto;
}
section {
	display: flex;
	justify-content: center;
	align-items: center;
}